/* styling properties for inline set svg icons */
.icon-logo {
  stroke: #fff;
  stroke-width: 1;
}

.icon-top {
  stroke: #fff;
  stroke-width: 1;
}

@media (prefers-color-scheme: light) {
      /* dark theme styles */
      .icon-logo{
        stroke:#000;
      }
    }
