/* generic styling */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background: #121212;
  font-size: 16px;
}

a, p {
  color: rgba(255,255,255,0.4);
  margin-top: 120px;
  text-decoration: none;
}
